body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#quiz-container, #admin-container {
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
}

#quiz {
    margin-bottom: 10px;
}

#admin-panel input {
    display: block;
    margin: 10px 0;
}

#back-button {
    display: none;
}